* {
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* mixins */
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

/* extends   */
%form_field {
  border-radius: 15px;
  padding: 8px;
  border: 1px solid black;
  background: grey;
  color: black;
}
%form_btn {
  cursor: pointer;
}
%margin_top_bot {
  margin-top: 20px;
  margin-bottom: 20px;
}
%absoluteVHCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%resetLi {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* searchForm  */
.searchForm {
  background: grey;   // variable idet
  &__searchInput {
    width: 100%;
    outline: none;
    @extend %form_field;
    @extend %margin_top_bot;
    @include placeholder {
      color: black;
      font-weight:400;
    }
  }
  &__searchBtn,
  &__saveBtn {
    width: 48%;
    @extend %form_field;
    @extend %form_btn;
    @extend %margin_top_bot;
  }
  &__searchBtn {
    float: left;
  }
  &__saveBtn {
    float: right;
  }
  &__imageGrid {
    @extend %form_field;
    min-height: 300px;
    p {
      @extend %absoluteVHCenter;
    }
  }
  &__savedQueries {
    @extend %form_field;
    min-height: 300px;
  }
}

/*common */

.img-responsive {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

ul {
  li {
    @extend %resetLi;
  }
}
